USE [hasaki_db]
GO
/****** Object:  Table [dbo].[address]    Script Date: 1/1/2025 7:20:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[address](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[street_address] [nvarchar](255) NOT NULL,
	[city] [nvarchar](100) NOT NULL,
	[country] [nvarchar](100) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[address] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[address] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
